.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 22px;
}

.navbar ul li a {
  display: block;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  color: #211f54;
}

.logo {
  margin-right: 40px;
}

.navbar_links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navbar_cart_link {
  display: block;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  color: #211f54;
}

.open_btn {
  background: none;
  border: none;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.open_btn:active {
  transform: translateY(1px);
}
