.footer hr {
  height: 1px;
  border: none;
  background-color: #eff0f6;
}

.footer_head {
  display: flex;
  justify-content: space-between;
  margin: 140px 0px;
}

.footer_info {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.footer_info h1 {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
  line-height: 36.01px;
  color: #211f54;
}

.footer_info p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  color: #6e7191;
  margin-top: 7px;
}

.footer_info_icons {
  width: 100%;
  height: auto;
  display: flex;
  gap: 16px;
  margin-top: 33px;
}

.footer_info_icons div {
  width: 36px;
  height: 36px;
  background-color: #edf5ff;
  border-radius: 8px;
}

.footer_contact {
  width: 100%;
  max-width: 312px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer_contact h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  color: #211f54;
}

.footer_contact p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  color: #6e7191;
}

.footer_working_hours {
  width: 100%;
  max-width: 312px;
  height: auto;
}

.footer_working_hours h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  color: #211f54;
  margin-bottom: 10px;
}

.footer_working_hours h4 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #211f54;
  margin-top: 18px;
}

.footer_working_hours p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  color: #6e7191;
  margin-top: 8px;
}

.footer_links {
  width: 100%;
  max-width: 312px;
}

.footer_links h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  color: #211f54;
  margin-bottom: 28px;
}

.footer_links h2 {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
  line-height: 36.01px;
  color: #0075ff;
}

.footer_links p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  color: #6e7191;
  margin-top: 6px;
}

.footer_links a {
  display: block;
  width: 250px;
  height: 72px;
  border-radius: 14px;
  background-color: #0075ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  line-height: 20px;
  transition: all 0.4s;
  border: 2px solid transparent;
  margin-top: 18px;
}

.footer_links a:hover {
  background-color: #fff;
  border: 2px solid #0075ff;
  color: #0075ff;
}

.footer_foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 35px;
  gap: 20px;
}

.footer_foot p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  color: #6e7191;
}

.footer_foot p a {
  text-decoration: underline;
}
