.btn-sm {
  display: block;
  width: 180px;
  height: 60px;
  border-radius: 14px;
  background-color: #0075ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  transition: all 0.4s;
  border: 2px solid transparent;
}
.btn-lg {
  display: block;
  width: 217px;
  height: 72px;
  border-radius: 14px;
  background-color: #0075ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  transition: all 0.4s;
  border: 2px solid transparent;
}

.btn-outline {
  display: block;
  width: 217px;
  height: 72px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #211f54;
  transition: all 0.4s;
  border: 2px solid transparent;
  box-shadow: 0px 4px 10px 0px #14142b0a;
  border: 2px solid #eff0f6;
}

.btn-lg:hover,
.btn-sm:hover {
  background-color: transparent;
  border: 2px solid #0075ff;
  color: #0075ff;
}

